.lazy-hidden,.entry img.lazy-hidden,img.thumbnail.lazy-hidden{background-color:#fff;background-image:url(//uhp.su/wp-content/plugins/a3-lazy-load/assets/css/loading.gif);background-repeat:no-repeat;background-position:50% 50%}figure.wp-block-image img.lazy-hidden{min-width:150px}