html {
	height: 100%;
	font-size: 16px;
	scroll-behavior: smooth;
}

*, *:before, *:after {
	box-sizing: border-box;
    outline: none !important;
}

body {
	font-family: 'Open+Sans', Verdana, Tahoma, sans-serif;
	font-size: 1.125rem;
	color: black;
	text-align: justify;
	line-height: 20px;
	@media @notebook {
		font-size: 1rem;	
	}
	@media @mobile {
		font-size: 0.875rem;
	}
}

header {
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/main/header.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 1080px;
	@media @notebook {
		height: 768px;	
	}
	@media @mobile {
		background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/main/header_mobile.jpg');
		background-size: cover;
		height: 570px;
		padding: 15px;
	}
}

#wrapper {
	@media @imac {
		width: 1920px;
		height: 1080px;
		margin: 0 auto;
	}
}

/* Краткое описание в шапке */
.write-up, .term-description p {
	.is_animation;
}

.content {
	padding: 75px 225px;
	min-height: 500px;
	@media @notebook {
		padding: 35px;
	}
	@media @mobile {
		padding: 15px 0;
	}
	&__title {
		font: 20px 'Open+SansBold';
		text-align: left;
		margin-bottom: 0;
		@media @notebook {
			font-size: 18px;
		}
		@media @mobile {
			font-size: 16px;
		}
	}
	&__text {
		margin: 15px 0;
		font-size: 18px;
		color: black;
		.content__text_adaptive;
	}
	&__list {
		list-style-type: disc;
		padding-left: 20px;
	}
	&__item {
		font-size: 18px;
		text-align: justify;
		color: black;
		margin-bottom: 10px;
		.content__text_adaptive;
	}
}

h1 {
	font: 26px 'Open+SansBold';
	text-align: center;
	margin: 50px 0;
	padding: 0 50px;
	
	@media @notebook {
		padding: 0 20px;
		font-size: 24px;
		margin: 40px 0;
	}
	@media @mobile {
		padding: 0 15px;
		font-size: 20px;
		margin: 10px 0;
	}
}

h2 {
	font: 24px 'Open+SansBold';
	text-align: center;
	margin: 40px 0;
	@media @notebook {
		font-size: 22px;
		margin: 30px 0;
	}
	@media @mobile {
		font-size: 18px;
		margin: 10px 0;
	}
}

h3 {
	font: 22px 'Open+SansBold';
	text-align: center;
	margin: 30px 0;
	@media @notebook {
		font-size: 20px;
		margin: 20px 0;
	}
	@media @mobile {
		font-size: 16px;
		margin: 10px 0;
	}
}

h4 {
	font: 18px 'Open+SansBold';
	text-align: center;
	margin: 15px 0;
	@media @notebook {
		font-size: 16px;
	}
	@media @mobile {
		font-size: 14px;
		margin: 5px 0;
	}
}

img {
	max-width: 100%;
	height: auto;
}

footer {
    background: #161616;
	color: white;
	padding: 30px 100px;
	@media @notebook {
		padding: 20px 15px;
	}
}

#link-scroll {
	background: url('../images/main/button_up.webp') no-repeat;
	background-size: contain;
    height: 36px;
    width: 300px;
    border: 0;
    cursor: pointer;
    display: none;
    margin: 0 auto;
    position: relative;
    top: -22px;
    text-align: center;
    padding-top: 7px;
	color: white;
	&:hover {
		text-decoration: none;
    	color: white;
	}
	@media @mobile {
		display: block;
	}
}