// Описание в шапке
.is_animation {
    width: 500px;
	color: white;
	position: absolute;
	bottom: 235px;
	right: 170px;
	font-size: 1.5rem;
    line-height: 25px;
    @media @notebook {
        font-size: 1.125rem;
        line-height: 25px;
    }
    @media @mobile {
        width: ~'calc(100% - 30px)';
		color: white;
		position: absolute;
		bottom: 200px;
		left: 15px;
		right: 15px;
		font-size: 1rem;
		line-height: 22px;
    }
    animation: anim linear 2s;
    @keyframes anim {
        0% {
            opacity: 0;	
        }
        100% {
            opacity: 1;	
        }
    }
}

.servicebox__link_mobile {
    background: transparent;
    border: 2px solid white;
    width: 240px;
    top: 150px !important;
    left: ~'calc(50% - 120px)' !important;
    color: white;
    font-size: 1.125rem;
}

.content__text_adaptive {
    @media @notebook {
        font-size: 16px;
    }
    @media @mobile {
        font-size: 14px;
    }
}