/*--------------*/
/***** Меню *****/
/*--------------*/
.topmenu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 0 225px;
	width: 100%;
	height: 120px;
	margin: 0 auto;
	@media @notebook {
		height: 100px;
		padding: 0 100px;
	}
	@media @mobile {
		padding: 0;
		margin: 0;
		width: 100%;
		position: relative;
		z-index: 99;
	}
}

.topmenu__logo {
	@media @mobile {
		position: absolute;
		z-index: 999;
		top: 20px;
		left: 20px;
	}
}

.topmenu__list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	@media @mobile {
		position: fixed;
		width: 50%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.7);
		left: 0;
		margin: 0;
		top: 0;
		z-index: 9999;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		transform: translateX(-100%);	
	}
}

.topmenu__item, .topmenu__list li {
	margin: 0 10px;
	text-align: left;
	padding: 0;
	&:after {
		text-decoration: none;
		content: '';
		width: 100%;
		height: 5px;
		background-color: @active-color;
		display: block;
		box-shadow: 0 0 10px @active-color;
		transform: scale(0);
		@media @notebook {
			height: 3px;
		}
		@media @mobile {
			display: none;
		}
	}
	&:hover:after, &:focus:after, &.current_page_item:after, &.current-menu-item:after {
		transform: scale(1);
		transition: 0.4s all;
	}
	&:focus:after, &.current_page_item, &.current-menu-item {
		@media @mobile {
			background: @active-color;
		}
	}
	&.current_page_item a, &.current-menu-item a {
		color: @active-color;
		@media @mobile {
			color: black;
		}
	}
	@media @mobile {
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

.topmenu__link, .topmenu__list a {
	padding: 40px;
    display: block;
    color: white;
	font: 25px 'Open+Sans';
	&:hover {
		text-decoration: none;
		color: @active-color;
	}
	@media @notebook {
		padding: 30px;
		font-size: 18px;
	}
	@media @mobile {
		padding: 20px 10px;
		text-align: center;
	}
}

.topmenu__loupe {
	cursor: pointer;
	height: 30px;
	@media @notebook {
		height: 25px;
	}
	@media  @mobile {
		height: 30px;
		position: absolute;
		z-index: 999;
		top: 50px;
		right: 20px;
	}
}

.topmenu__button {
	display: none;
	@media @mobile {
		display: block;
		height: 50px;
		position: absolute;
		top: 120px;
		right: 20px;
	}
}

/*---------------*/
/*****   H1  *****/
/*---------------*/
.write-up {
	margin: 0;
	padding: 0;
	text-align: justify;
	font: 1.25rem 'Open+Sans' !important;
}

/*----------------*/
/***** Услуги *****/
/*----------------*/
.servicebox {
	width: 1819px;
	height: 990px;
	margin: 30px auto 0;
	display: grid;
    grid-template-columns: 1100px 709px;
	grid-gap: 10px;	
	@media @notebook {
		margin: 20px auto 0;
		height: 890px;
		width: 1326px;
		display: grid;
		grid-template-columns: 760px 556px;
		grid-gap: 10px;
	}
    @media @mobile {
		width: 100%;
		min-height: 2230px;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}

.servicebox__text {
    display: none;
    @media @mobile {
        display: none;
		position: absolute;
		width: ~'calc(100% - 20px)';
		top: 310px;
		left: 10px;
		color: white;
		font: 14px 'Open+Sans';
	}
}

.servicebox__link {
	background: url('../images/services/button.webp');
	position: absolute;
	width: 285px;
	height: 105px;
	color: black;
	font: 1.25rem 'Open+Sans';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	&:hover {
		background: url('../images/services/button_hover.webp');
		text-decoration: none;
		color: black;
		@media @notebook {
			background-size: contain;
			background-repeat: no-repeat;
			width: 190px;
			height: 70px;
			font-size: 1rem;
		}
		
	}
	@media @notebook {
		background-size: contain;
		background-repeat: no-repeat;
		width: 190px;
		height: 70px;
		font-size: 1rem;
	} 
    @media @mobile {
        .servicebox__link_mobile;
		&:hover, &:focus, &:active, &:visited {
			.servicebox__link_mobile;
		}
    }
}

.servicebox__advice {
	position: relative;
	background: url('../images/services/consult.webp');
	height: 650px;
	@media @notebook {
		height: 550px;
	}
	@media @mobile {
		position: relative;
		background: url('../images/consultation/header_mobile.webp');
		background-size: cover;
		background-repeat: no-repeat;
		height: 570px;
	}
}

.servicebox__project {
    top: 10px;
	position: relative;
	background: url('../images/services/project.webp');
	height: 330px;
	@media @mobile {
		top: 0;
		background: url('../images/project/header_mobile.webp');
		background-size: cover;
		background-repeat: no-repeat;
		height: 570px;
	}
}

.servicebox__sale {
	position: relative;
    background: url('../images/services/sale.webp');
	height: 350px;
	@media @mobile {
		position: relative;
		background: url('../images/sale/header_mobile.webp');
		background-size: cover;
		background-repeat: no-repeat;
		height: 570px;
	}
}

.servicebox__montage {
    top: 10px;
	position: relative;
	background: url('../images/services/montage.webp');
	height: 630px;
	@media @notebook {
		height: 530px;
	}
	@media @mobile {
		top: 0;
		background: url('../images/montage/header_mobile.webp');
		background-size: cover;
		background-repeat: no-repeat;
		height: 570px;
	}
}

.servicebox__link_advice {
	top: 215px;
	right: 0;
	@media @notebook {
		top: 190px;
	}
}

.servicebox__link_project {
	top: 110px;
	left: 0;
}

.servicebox__link_sale {
	top: 80px;
	left: 0;
	@media @notebook {
		top: 90px;
		left: -1px;
	}
}

.servicebox__link_montage {
	top: 355px;
	right: 0;
	@media @notebook {
		top: 220px;
	}
}

/*-----------------*/
/***** Clients *****/
/*-----------------*/
.clientbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #f1f1f1;
	padding-bottom: 30px;
	margin-top: 50px;
	width: 100%;
	@media @mobile {
		padding-bottom: 10px;
	}
}

.clientbox__mobile {
	display: none;
	@media @mobile {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.clientbox__image {
	width: 280px;
}

.clientbox__desktop {
	display: grid;
	grid-template-columns: repeat(3, 360px);
	grid-template-rows: repeat(2, 410px);
	grid-column-gap: 50px;
	grid-row-gap: 60px;
	@media @mobile {
		display: none;
	}
}

.clientbox__poster {
	background-image: url('../images/clients/link.webp');
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.clientbox__title {
	font: 25px 'Open+SansBold';
	color: black;
	text-align: center;
	margin-top: 20px;
}

/*------------------*/
/***** Партнеры *****/
/*------------------*/
.partnerbox  {
	padding: 30px 0;
	@media @notebook {
		.partnerbox__image {
			width: 300px;
			height: auto;
		}
	}
	@media @mobile {
		.partnerbox__image {
			width: 90px;
			height: auto;
		}
	}
}

/*------------------*/
/***** Карточка *****/
/*------------------*/
.cardbox {
	width: 1400px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 400px);
	grid-column-gap: 100px;
	@media @notebook {
		width: 1150px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(3, 350px);
		grid-column-gap: 50px;
	}
	@media @mobile {
		width: 300px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 300px;
		grid-column-gap: 10px;
	}
}

.cardbox__card {
	border: 2px solid #CDCDCD;
	height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	&_article {
		justify-content: space-between;
		padding-bottom: 15px;
	}
	margin-top: 50px;
	@media @notebook {
		height: 500px;
		margin-top: 40px;
	}
	@media @mobile {
		height: 400px;
		margin-top: 15px;
	}
}

.cardbox__title {
	color: black;
	display: block;
	padding: 0 15px;
	font: 1.5rem 'Open+SansBold';
	text-align: center;
	&:hover {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
	@media @notebook {
		font-size: 1.25rem;
	}
	@media @mobile {
		font-size: 1.125rem;
	}
}

.cardbox__image {
	height: 200px !important;
	width: auto !important;
	&_article {
		width: auto !important;
		height: 220px !important;
	}
}

.cardbox__text {
	padding: 0 20px;
	margin-top: 50px;
}

.cardbox__price {
	margin: 10px 0;
	color: #DA0008;
	font: 30px 'Open+SansBold';
    text-align: center;
	text-decoration: none;
	@media @notebook {
		font-size: 24px;
	}
}

.cardbox__link {
	color: black;
	font: 20px 'Open+SansBold';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('../images/catalog/button.webp');
	width: 210px;
	height: 60px;
	padding-bottom: 15px;
	&:hover {
		color: black;
		text-decoration: none;
		background: url('../images/catalog/button_hover.webp');
		@media @notebook {
			text-decoration: none;
			background: url('../images/catalog/button_hover.webp');
			background-size: contain;
			background-repeat: no-repeat;
			width: 140px;
			height: 40px;
		} 
		@media @mobile {
			background: url('../images/catalog/button.webp');
			background-size: contain;
			background-repeat: no-repeat;
			width: 150px;
			height: 50px;
			padding-bottom: 15px;
		}
	}
	@media @notebook {
		font: 16px 'Open+SansBold';
		background-size: contain;
		background-repeat: no-repeat;
		width: 140px;
		height: 40px;
		padding-bottom: 10px;
	}
	@media @mobile {
		font: 14px 'Open+SansBold';
		width: 150px;
		height: 50px;
		padding-bottom: 15px;
	}
}

/*-------------------------*/
/***** Страница товара *****/
/*-------------------------*/
.product {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	@media @mobile {
		min-height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
}

.product__title {
	margin: 0;
	padding: 0;
	text-align: left !important;
	@media @mobile {
		display: none;
	}
	&_mobile {
		display: none;
		@media @mobile {
			font: 1.125rem 'Open+SansBold';
			display: block;
		}
	}
}

/*------------------------*/
/***** Хлебные крошки *****/
/*------------------------*/
.breadcrumb-box, .woocommerce-breadcrumb {
	width: 1400px;
	margin: 0 auto;
	font: 1.25rem 'Open+Sans';
	color: #161616;
	@media @notebook {
		width: 1150px;
		font-size: 1.125rem;
	}
	@media @mobile {
		display: none;
	}
}

.breadcrumb-box__link {
	color: #161616;
	&:hover {
		color: #161616;
	}
}

.breadcrumb-box__item {
	color: #c50000;
}

/*-------------------------*/
/***** Страница статьи *****/
/*-------------------------*/
.content__image {
	float: left;
	margin: 0 10px 10px 10px;
	width: 500px;
}

/*---------------*/
/***** Видео *****/
/*---------------*/
.videobox {
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows: 300px;
	grid-gap: 20px;
	@media @mobile {
		display: block;
	}
	&__video {
		width: 100%;
		height: 100%;
		@media @mobile {
			margin-top: 20px;
			height: 250px;
		}
	}
}

/*------------------*/
/***** Соц.сети *****/
/*------------------*/
.network-box {
	background: #F1F1F1;
	margin: 150px 0 50px 0;
	padding: 20px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	@media @notebook {
		margin: 100px 0 30px 0;
	}
	@media @mobile {
		display: none;
	}
	&__link {
		background-image: url('../images/social/button.webp');
		background-size: contain;
		background-repeat: no-repeat;
		display: block;
		width: 450px;
		height: 80px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		@media @notebook {
			width: 340px;
			height: 60px;
		}
		&:hover {
			background-size: contain;
			background-repeat: no-repeat;
			width: 450px;
			height: 80px;
			background-image: url('../images/social/button_hover.webp');
			@media @notebook {
				width: 340px;
				height: 60px;
			}
		}
	}
	&__image {
		position: relative;
		bottom: 5px;
		height: 50px;
		@media @notebook {
			height: 40px;
		}
	}
}

/*------------------*/
/***** Контакты *****/
/*------------------*/
.contactbox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	@media @mobile {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.contactbox__title {
	text-align: left;
	font: 1.5rem 'Open+SansBold';
	margin-bottom: 10px;
	@media @notebook {
		font-size: 1.375rem;
	}
	@media @mobile {
		font-size: 1.125rem;
		text-align: center;
	}
}

.contactbox__image {
	height: auto;
	width: 50px;
	@media @notebook {
		width: 40px;
	}
	@media @mobile {
		width: 30px;
	}
}

.contactbox__text {
	@media @mobile {
		text-align: center;
	}
}

.contactbox__item {
	text-align: left;
	margin-top: 30px;
}

.contactbox__link {
	font: 1.5rem 'Open+SansBold';
    color: #9F9F9F;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
	align-items: center;
	&:hover {
		color: #9F9F9F;
		text-decoration: none;
	}
	@media @notebook {
		font-size: 1.155rem;
	}
}

/*---------------*/
/***** Карта *****/
/*---------------*/
.gis-map {
	margin-top: 90px;
	height: 660px;
	@media @notebook {
		margin-top: 50px;
		height: 460px;
	}
	@media @mobile {
		margin-top: 30px;
		height: 300px;
	}
}

.social {
	width: 500px;
	height: 40px;
	margin: 100px auto 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	@media @notebook {
		width: 400px;
	}
	@media @mobile {
		width: 100%;
		margin-top: 20px;
	}

}

/*------------------*/
/*****  Подвал  *****/
/*------------------*/
.footerbox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.footerbox__menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	@media @mobile {
		display: none;
	}
}

.footerbox__item {
	display: inline-block;
	font: 22px 'Open+SansBold';
	padding: 0 70px;
	@media @notebook {
		font: 20px 'Open+SansBold';
		padding: 0 45px;
	}
}

.footerbox__submenu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.footerbox__sublink {
	display: block;
	font: 18px 'Open+SansLight';
	text-align: center;
	padding-top: 30px;
	color: white;
	&:hover {
		color: @active-color;
		text-decoration: none;
	}
	@media @notebook {
		font-size: 16px;
	}
}

.footerbox__info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	@media @mobile {
		margin: 0 auto;
	}
}

.footerbox__subscribe {
	border: 3px solid white;
	background: transparent;
	width: 267px;
	height: 40px;
	margin: 2px;
	color: white;
	font: 16px 'Open+SansLight';
	margin-top: 30px;
	& .mailpoet_form {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	& input[type="email"] {
		border: 0;
		padding: 0 0 0 15px;
		background: #161616;
		height: 30px;
		width: 267px;
		margin: 2px;
		color: white;
		&::placeholder {
			color: white; 
			opacity: 1;
		}
	}
	& input[type="submit"] {
		border: 0;
		background: white;
		height: 30px;
		width: 53px;
		margin: 2px;
		color: black;
	}
	@media @mobile {
		margin-top: 15px;
		border: 2px solid white;
		width: 270px;
		height: 35px;
		font: 14px 'Open+SansLight';
		& input[type="email"] {
			padding: 0 0 0 10px;
			height: 27px;
			width: 208px !important;
			margin: 2px;
			opacity: 1;
		}
		& input[type="submit"] {
			height: 27px;
			width: 50px;
			margin: 2px;
			color: black;
		}
	}
}

.footerbox__slogan {
	margin-top: 40px;
	width: 267px;
	font: 16px 'Open+SansLight';
	@media @notebook {
		margin-top: 30px;
		font: 14px 'Open+SansLight';
	}
}

.footerbox__private {
	color: @active-color;
	&:hover {
		color: @active-color;
		text-decoration: underline;
	}
	&_red {
		color: red;
		&:hover {
			color: red;
			text-decoration: underline;
		}
	}
}

.footerbox__line {
	margin-top: 30px;
	border: none;
    color: white;
    background-color: white;
	height: 2px;
	width: 100%;
	@media @notebook {
		height: 1px;

	}
}

.footerbox__copyright {
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	@media @mobile {
		text-align: justify;
	}
}

.footerbox__dev-logo {
	height: 50px;
	width: auto;
}

.footerbox__design {
	margin-top: 20px;
}

.footerbox__developer {
	margin-top: 20px;
	text-align: right;
	width: 267px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}