/*--------------*/
/***** Меню *****/
/*--------------*/
.topmenu__list_active {
	transform: translateX(0%) !important;
}

/*---------------*/
/***** Шапки *****/
/*---------------*/
.is_catalog {
	background-image: url('../images/catalog/header.webp'); 
	@media @mobile {
		background: url('../images/catalog/header_mobile.webp'); 
		background-size: cover;
	}
}

.is_company {
	background-image: url('../images/company/header.webp'); 
	@media @mobile {
		background: url('../images/company/header_mobile.webp'); 
		background-size: cover;
	}
}

.is_contacts {
	background-image: url('../images/contacts/header.webp'); 
	@media @mobile {
		background: url('../images/contacts/header_mobile.webp'); 
		background-size: cover;
	}
}

.is_consultation {
	background-image: url('../images/consultation/header.webp'); 
	@media @mobile {
		background: url('../images/consultation/header_mobile.webp'); 
		background-size: cover;
	}
}

.is_sale {
	background-image: url('../images/sale/header.webp'); 
	@media @mobile {
		background: url('../images/sale/header_mobile.webp'); 
		background-size: cover;
	}
}

.is_project {
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/project/header.webp'); 
	@media @mobile {
		background: url('../images/project/header_mobile.webp'); 
		background-size: cover;
	}
}

.is_montage {
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/montage/header.webp'); 
	@media @mobile {
		background: url('../images/montage/header_mobile.webp'); 
		background-size: cover;
	}
}

.is_articles {
	background: url('../images/articles/header.webp'); 
	@media @mobile {
		background: url('../images/articles/header_mobile.webp'); 
		background-size: cover;
	}
}

.is_404 {
	background-image: url('../images/main/404.webp'); 
	@media @mobile {
		background: url('../images/main/404_mobile.webp'); 
		background-size: cover;
	}
}

/*-------------------*/
/***** Elementor *****/
/*-------------------*/
.elementor-widget-text-editor {
	color: black !important;
}

.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
	padding: 0 !important;
}


/*-------------------*/
/***** Пагинация *****/
/*-------------------*/
.wp-pagenavi {
	margin-top: 200px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.wp-pagenavi span {
	height: 40px;
	width: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font: 30px 'Open+Sans';
	color: #161616;
	background: #D8D8D8;
}

.wp-pagenavi a {
	font: 30px 'Open+Sans';
	height: 40px;
	width: 40px;
	color: #161616;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

.wp-pagenavi a:hover {
	text-decoration: none;
}

.previouspostslink, .nextpostslink {
	padding-bottom: 7px;
}

/*--------------------*/
/***** Подписчики *****/
/*--------------------*/
.parsley-errors-list, .mailpoet_validate_success {
	position: absolute;
	margin: 0 !important;
	bottom: 0;
	left: 0;
	z-index: 9999;
	top: 42px;
	line-height: 18px;
	font-size: 14px;
	color: lime !important;
	@media @notebook {
		top: 38px;
		font-size: 12px;
		line-height: 13px;
	}
}

.parsley-errors-list li {
	color: #FF351D !important;
	line-height: 18px;
	font-size: 14px;
	@media @notebook {
		color: #FF351D !important;
		line-height: 13px;
		font-size: 12px;
	}
}

/*--------------------*/
/***** Поделиться *****/
/*--------------------*/
.ya-share2 {
	margin-top: 20px;
}

/*----------------------*/
/***** Форма поиска *****/
/*----------------------*/
#search {
	background: transparent;
	border: 0;
}

#searchModal {
	background: rgba(0, 0, 0, 0.6);
}

.search-form {
	width: 400px;
	height: 48px;
	display: block;
	margin: 350px auto 0;
	border: 3px solid white;
	position: relative;
	@media @notebook {
		width: 350px;
		height: 40px;
		display: block;
		margin: 220px auto 0;
		border: 2px solid white;
	}
	@media @mobile {
		width: 290px;
		height: 40px;
		display: block;
		margin: 80px auto 0;
		border: 2px solid white;
	}
}

.search-form input[type="search"] {
	border: 0 !important;
	padding: 0 0 0 15px !important;
	height: 38px !important;
	margin: 2px !important;
	color: white !important;
	font: 18px 'Open+Sans' !important;
	@media @notebook {
		padding: 0 0 0 10px !important;
		height: 32px !important;
		margin: 2px !important;
		font: 16px 'Open+Sans' !important;
	}
}

.search-form button {
	border: 0 !important;
	background: white !important;
	height: 36px !important;
	width: 70px !important;
	margin: 2px !important;
	color: black !important;
	position: absolute;
	@media @notebook {
		height: 30px !important;
		width: 60px !important;
	}
}

.search-form button:before {
	content: 'OK' !important;
	font: 18px 'Open+Sans' !important;
	@media @notebook {
		font: 16px 'Open+Sans' !important;
	}
}

.smart-search-results {
	overflow: hidden;
	max-height: 450px !important;
	width: 400px !important;
	position: relative;
	top: 6px;
	left: -3px;
	@media @notebook {
		max-height: 450px !important;
		width: 350px !important;
		position: relative;
		top: 6px;
		left: -3px;
	}
	@media @mobile {
		width: 290px !important;
		top: 6px;
		left: -2px;
	}
}

.smart-search-view-all {
	background: white !important;
	color: black !important;
	height: 35px !important;
	border-top: 1px solid #d6d6d6;
}

.smart-search-suggestions {
	width: 400px !important;
	overflow: hidden;
	@media @notebook {
		width: 350px !important;
	}
	@media @mobile {
		width: 290px !important;
	}
}

/*------------------------*/
/***** Хлеьные крошки *****/
/*------------------------*/
.woocommerce-breadcrumb {
	margin: 15px 0;
}

/*--------------*/
/***** Табы *****/
/*--------------*/
.tab-box {
	margin-top: 120px;
	display: grid;
	grid-template-columns: repeat(3, 226px);
	grid-column-gap: 50px;
	@media @mobile {
		margin-top: 20px;
		display: grid;
		grid-template-columns: repeat(3, 95px);
		grid-column-gap: 5px;
	}
}

.tab-box__tab {
	display: block;
	padding: 0;
	background: url('../images/catalog/button_product.webp');
	border: 0;
	height: 105px;
	width: 226px;
	font: 20px 'Open+SansBold';
	color: black;
	&:hover, &_active {
		text-decoration: none;
		color: black;
		background: url('../images/catalog/button_product_hover.webp');
	}
	@media @mobile {
		background: url('../images/catalog/button_product.webp');
		background-size: contain !important;
		background-repeat: no-repeat !important;
		border: none !important;
		height: 43px !important;
		width: 95px !important;
		font: 12px 'Open+SansBold';
		color: black;
		&:hover, &:focus, &_active {		
			text-decoration: none;
			background: url('../images/catalog/button_product_hover.webp');
		}
	}
}

.tab-content {
	margin-top: 45px;
}

.tab-content__tab {
	display: none;
	min-height: 300px;
	&_active {
		display: block;
	}
}

.tab__catalog {
	width: 180px;
	color: black !important;
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	align-items: center !important;
	&:hover {
		text-decoration: none;
	}
}

/*------------------*/
/***** MailPoet *****/
/*------------------*/
.mailpoet_hp_email_label{
	display:none;
}

#mailpoet_form_2 .mailpoet_paragraph { 
	line-height: 20px; 
}

#mailpoet_form_2 .mailpoet_segment_label, #mailpoet_form_2 .mailpoet_text_label, 
#mailpoet_form_2 .mailpoet_textarea_label, #mailpoet_form_2 .mailpoet_select_label, 
#mailpoet_form_2 .mailpoet_radio_label, #mailpoet_form_2 .mailpoet_checkbox_label, 
#mailpoet_form_2 .mailpoet_list_label, #mailpoet_form_2 .mailpoet_date_label { 
	display: block; 
	font-weight: bold;
}

#mailpoet_form_2 .mailpoet_text, #mailpoet_form_2 .mailpoet_textarea, #mailpoet_form_2 .mailpoet_select, 
#mailpoet_form_2 .mailpoet_date_month, #mailpoet_form_2 .mailpoet_date_day, 
#mailpoet_form_2 .mailpoet_date_year, #mailpoet_form_2 .mailpoet_date { 
	display: block; 
}

#mailpoet_form_2 .mailpoet_text, #mailpoet_form_2 .mailpoet_textarea { 
	width: 200px;
}

#mailpoet_form_2 .mailpoet_validate_success { 
	font-weight: 600; 
	color: #468847; 
}

#mailpoet_form_2 .mailpoet_validate_error { 
	color: #b94a48; 
}

#mailpoet_form_2 .mailpoet_form_loading { 
	width: 30px; 
	text-align: center; 
	line-height: normal; 
}

#mailpoet_form_2 .mailpoet_form_loading > span { 
	width: 5px; 
	height: 5px; 
	background-color: #5b5b5b;
}