.elementor-925 .elementor-element.elementor-element-ad2f099{text-align:left;}@media(min-width:768px){.elementor-925 .elementor-element.elementor-element-cabb8ed{width:31.031%;}.elementor-925 .elementor-element.elementor-element-e795fff{width:68.925%;}}